@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

h2 {
  color: #f8f8f8;
}

p {
  color: #ffffffb2;
}
.navbar {
  border: 2px solid rgba(233, 226, 226, 0.452);
  border-radius: 12px;
  border-style:solid;

}
.screenshot {
  background-image: linear-gradient(#222e3e 80%);
  border: 2px solid rgba(233, 226, 226, 0.452);
  border-radius: 2px;
  border-style: double;
  margin-top: 80px;
  height: 60vh;
  overflow-x: hidden; 
  padding-top: 40px;
  position: relative;
  white-space: nowrap; 
  border-top: none;
  border-left: none;
  border-right: none;
}

.screenshot img {
  border-radius: 30px;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  height: 400px;
  position: relative;
  white-space: nowrap;
  animation: scrollRightToLeft 10s linear infinite; /* Infinite horizontal scroll */
}

@keyframes scrollRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



.screenshot::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, transparent, #222e3e);
  pointer-events: none;
  opacity: 0;
  animation: fadeOutAtEnd 2s forwards;
}

 @keyframes fadeOutAtEnd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 



.players {
  border: 2px solid rgba(233, 226, 226, 0.452);
  border-radius: 4px;
  border-style:solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 15px;

}




